body {
    font-family: sans-serif;
}
.dbtable {
    background: #ffe;
}
.dbtable th {
    color: white;
    background: black;
    padding: 1em;
    font-weight: normal;
}
.dbtable td {
    padding: .5em 1em;
    border: thin solid silver;
    border-width: 0 thin thin 0;
    text-align: right;
}
